{% extends 'nursetemp/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<body class="p-3 mb-2 bg-danger-subtle text-emphasis-danger">
<div>
<div class="card  bg-info" style="width:600px;margin-left:150px;margin-top:30px;">
     <BR><h5 align="center"><b>ADD SCHEDULE</b></h5><BR>
  <form method="post">
 {% csrf_token %}

    {{form|crispy}}
   <BR>
      <div align="center">
  <button type="submit" class="btn btn-primary" style="width:100px"> Submit</button>
</div>
      <br>

</form>
  </div>
</div>
{% endblock %}