{% extends 'nursetemp/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card" style="margin-left:50px;margin-top:70px;">
     {% if messages %}
    {% for message in messages %}
    <div class="alert alert.danger" role ="alert">
      {{message}}
    </div>
    {% endfor %}
    {% endif %}
 <table class="table">
  <tbody>
  <tr class="table-info">
      <th scope="col">Child Name</th>
      <th scope="col">Child Age</th>
      <th scope="col">Hospital</th>
      <th scope="col">Date</th>
      <th scope="col">Start Time</th>
      <th scope="col">End Time</th>
      <th scope="col">Vaccine</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  {% for i in new %}
  <tr>
      <td>{{i.user.child_name}}</td>
      <td>{{i.user.child_age}}</td>
      <td>{{i.schedule.hospital}}</td>
      <td>{{i.schedule.date}}</td>
      <td>{{i.schedule.start_time}}</td>
      <td>{{i.schedule.end_time}}</td>
      <td>{{i.schedule.vaccine}}</td>
      <td>
          {% if i.vaccinated == 0 %}
          <a href="{% url 'vaccination' i.id %}">
              <button type="button" style="display:inline" class="btn btn-info">Mark Vaccinated</button></a>
           {% else %}
         <button type="button" class="btn btn-success">vaccinated</button>
      </td>
  </tr>
  {% endif %}
      {% endfor %}
 </table>
  </tbody>
</div>
  {% endblock %}