{% extends 'admintemp/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card" style="margin-top:70px; width:100%">
    <div class="row">
        <div class="col-lg-6"></div>
        <div class="col-lg-6">
            <form method="get" class="form-inline" style="float:right;">
                <div class="input-group">
                    {{ vaccinationFilter.form }}
                    <div class="input-group-append">
                        <button class="btn-btn-primary" type="submit">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
     {% if messages %}
    {% for message in messages %}
    <div class="alert alert.danger" role ="alert">
      {{message}}
    </div>
    {% endfor %}
    {% endif %}
 <table class="table">
  <tbody>
  <tr class="table-info">
      <th scope="col">Child Name</th>
      <th scope="col">Child Age</th>
      <th scope="col">Hospital</th>
      <th scope="col">Date</th>
      <th scope="col">Start Time</th>
      <th scope="col">End Time</th>
      <th scope="col">Vaccine</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  {% for i in vaccination %}
  <tr>
      <td>{{i.user.child_name}}</td>
      <td>{{i.user.child_age}}</td>
      <td>{{i.schedule.hospital}}</td>
      <td>{{i.schedule.date}}</td>
      <td>{{i.schedule.start_time}}</td>
      <td>{{i.schedule.end_time}}</td>
      <td>{{i.schedule.vaccine}}</td>
      <td>
          {% if i.vaccinated == True%}
              <button type="button" style="display:inline" class="btn btn-success">Vaccinated</button>
          {% if i.card == 1 %}

          <button type="button" style="display:inline" class="btn btn-success">Issued</button>
          {% else %}
          <a href="{% url 'card' i.id %}">
               <button type="button" style="display:inline" class="btn btn-success"> Issue Card</button></a>
           {% endif %}
           {% else %}
         <button type="button" class="btn btn-danger">Unavailable</button>
      </td>
  </tr>
  {% endif %}

      {% endfor %}
 </table>
  </tbody>
</div>
  {% endblock %}